<!DOCTYPE html>
<html>
    <head>
        <title> Chess Tournament Report </title>
    </head>

    <body>
        <h1>Report for {{info["Event"]}}</h1>

        <table>
            <tr>
                <th>Event</th>
                <th>End Date</th>
                <th>Format</th>
                <th>Pairings</th>
                <th>Province</th>
                <th>Organizer</th>
                <th>Arbiter</th>
            </tr>
            <tr>
                <td>{{info["Event"]}}</td>
                <td>{{info["End Date"]}}</td>
                <td>{{info["Format"]}}</td>
                <td>{{info["Pairings"]}}</td>
                <td>{{info["Province"]}}</td>
                <td><a href="https://www.chess.ca/en/ratings/p/?id={{info["Organizer"]}}">{{info["Organizer"]}}</a></td>
                <td><a href="https://www.chess.ca/en/ratings/p/?id={{info["Arbiter"]}}">{{info["Arbiter"]}}</a></td>
            </tr>
        </table>

        <h2>Top 3 Players</h2>
        <ol>
            {% for seed, score in top_three %}
                <li>
                    {{players[seed].name}}<br>
                    Score:  {{score}}
                </li>
            {% endfor %}
        </ol>

        {% if info["Pairings"] == "Round Robin" %}
            <h2>Tournament Crosstable</h2>
            <table>
                <tr>
                    <th>Player</th>
                    {% for opponent in players %}
                        <th>{{opponent}}</th>
                    {% endfor %}
                </tr>
                {% for player in players %}
                    <tr>
                        <td>{{player}}. {{players[player].name}}</td>
                        {% for opponent in players %}
                            <td>
                                {{result_lookup[player][opponent] if result_lookup[player][opponent] is defined else 'X'}}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% elif info["Pairings"] == "Swiss" %}
            <h2>Tournament Overview</h2>
            <table>
                <tr>
                    <th>Player</th>
                    {% for round in range(info["Round Total"]) %}
                        <th>R{{round + 1}}</th>
                    {% endfor %}
                </tr>
                {% for player in players %}
                    <tr>
                        <td>{{player}}. {{players[player].name}}</td>
                        {% for result in players[player].results %}
                            <td>{{result.result}}{{result.vs_seed}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <h2>Player Reports</h2>
        {% for player in players %}
            <h3><a href="https://www.chess.ca/en/ratings/p/?id={{players[player].cfc_id}}">{{players[player].name}}</a></h3>
            <p>
                CFC ID:     {{players[player].cfc_id}}<br>
                CFC Rating: {{players[player].cfc_rating}}
            </p>
            <table>
                <tr>
                    <th>Round</th>
                    <th>Opponent</th>
                    <th>Results</th>
                </tr>
                {% for result, opponent in all_reports[player - 1] %}
                    <tr>
                        <td>{{all_reports[player - 1].index((result, opponent)) + 1}}</td>
                        <td>{{opponent}}</td>
                        <td>{{result}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </body>
</html>